<md-dialog class="fullscreen-dialog" aria-label="Mango (Fruit)" layout='column'>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Venda no Caixa</h2>
        <span flex></span>
        <md-button ng-if="acao=='V'" class="md-raised" ng-click="insereCPF($event)">
          CPF
        </md-button>
        <md-button ng-if="acao=='V'" class="md-raised" ng-disabled="venda.PAGAR.valor" ng-click="concluir($event)">
          CONCLUIR
        </md-button>
        <md-button ng-if="acao=='V'" class="md-raised" ng-disabled="venda.PAGAR.valor" ng-click="concluirMptest($event)">
          CONCLUIRMPTEST
        </md-button>
        <md-button ng-if="acao=='V'" class="md-raised" ng-disabled="venda.PAGAR.valor" ng-click="geraNFe(venda)">
          GERANFETESTE
        </md-button>
        <md-button ng-if="acao=='V'" class="md-raised" ng-disabled="venda.PAGAR.valor" ng-click="concluirCupom($event)">
          CONCLUIR/CUPOM
        </md-button>
        <md-button ng-disabled="venda.PAGAR.valor || !venda.CODCIDADE" class="md-raised" ng-click="NFe($event,venda)">
          NFE
        </md-button>
        <md-button ng-if="acao=='F'" ng-disabled="venda.PAGAR.valor" class="md-raised" ng-click="concluirFech($event)">
          PAGAR FECHAMENTO
        </md-button>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" style="color: white;">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-actions layout="row" layout-align="end">
      <span flex></span>
    </md-dialog-actions>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row">
        <md-card flex=20>
          <md-button ng-repeat="fPagto in FormaPagto" class="md-raised" ng-click="InserePgto($event,fPagto)" ng-disabled="fPagto.NOME == 'NP' && Venda.TOTAL !== Venda.TOTALDESC">
            {{fPagto.NOME}}
            <span ng-if="fPagto.NOME == 'NP' && vale < 0"> ({{ vale* (-1)|currency:'R$'}})</span>
          </md-button>
        </md-card>
        <!-- <md-card flex layout="column" layout-align="top center">
            <h3>á Pagar</h3>
            <h1>R$ {{venda.PAGAR | currency}}</h1>          
          </md-card> -->
        <md-card flex  style="background-color:#eeecd2;font-size:8pt;font-family:Arial;">
          <!-- <div layout="row" layout-sm="row" layout-align="space-around" ng-if="await">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            <h1 style="color:red">{{await}}</h1>
          </div> -->
          <md-card-content  layout="row">
            <div layout="column" flex layout-align="top center">
              <span class="md-title">{{await}}</span>
              <span class="md-body-1">Total venda: {{venda.TOTAL.toString()}}</span>
              <span class="md-body-1" ng-if="venda.TOTAL!=venda.TOTALDESC">Desconto de {{venda.PERCENTDESC()}}% ({{venda.VLDESC().toString()}})</span>
              <span class="md-title">Total á pagar {{venda.TOTALDESC.toString()}}</span></br>
              <span class="md-title" ng-if="venda.PAGAR>0">Restante á pagar {{venda.PAGAR}}</span></br>
              <span class="md-title" ng-if="venda.PAGAR<0">Troco {{venda.PAGAR}}</span>
              <md-table-container style="overflow: auto;">
                <table md-table>
                  <thead md-head>
                    <tr md-row>
                      <th md-column>
                        <span>VALOR</span>
                      </th>
                      <th md-column>
                        <span>FORMA</span>
                      </th>
                      <th md-column>
                        <span>VENCTO</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="item in venda.PAGAMENTO">
                      <td md-cell>{{item.valor}}</td>
                      <td md-cell>
                        <span>{{item.tipo}}</span>
                      </td>
                      <td md-cell ng-if='item.tipo == "BL"'>
                        <md-datepicker ng-if="$first" ng-model="item.vencimento" md-placeholder="Enter date" md-min-date="hoje"></md-datepicker>
                        <md-datepicker ng-if="!$first" ng-model="item.vencimento" md-placeholder="Enter date" md-min-date="hoje"></md-datepicker>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            </div>
            <!-- <div layout="column" flex layout-align="top center">
              <md-table-container style="overflow: auto;" ng-style="{'height':mainScreen-200+'px'}">
                <table md-table>
                  <thead fix-head md-head>
                    <tr md-row>
                      <th md-column><span>COD</span></th>
                      <th md-column><span>QTD</span></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="item in venda.PRODUTOS">
                      <td md-cell>{{item.CODPRO}}</td>
                      <td md-cell>{{item.QTD}} {{item.UNIDADE}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>            
            </div> -->
          </md-card-content>
        </md-card>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>