<style>
  .md-checkbox {
    display: none
  }
</style>
<md-dialog class="fullscreen-dialog" aria-label="" layout='column'>
  <!-- <md-toolbar> -->
  <div layout='row'>
    <div layout="row" flex='50'>
      <md-input-container class="md-block" flex-gt-xs="30">
        <label>venda</label>
        <input name="codcli" ng-model="carregar.pedido">
      </md-input-container>
      <!-- </div> -->
      <!-- <div layout-gt-xs="column"> -->
      <md-input-container class="md-block" flex-gt-xs="70" >
        <label>Natureza</label>
        <md-select ng-model="venda.operacao" ng-disabled="!venda.LCTO">
          <md-option value="1" >Venda de Mercadoria</md-option>
          <md-option value="2">Venda de Ativo</md-option>
          <md-option value="3">Devolução de Mercadoria</md-option>
          <md-option value="4">Remessa Para Conserto</md-option>
          <md-option value="5">Remessa de Amostra Grátis</md-option>
          <md-option value="6">Retorno de Bem em Comodato</md-option>
        </md-select>
      </md-input-container>
      <!-- </div> -->
    </div>
    <div layout='row' layout-align="end center">
      <md-button aria-label="carregar" class="md-warn md-raised " ng-click="carregaVenda(carregar.pedido)">
        Carrega Venda
      </md-button>
      <md-button aria-label="gerarNF" class="md-raised md-warn" ng-click="geraNFe(venda)" ng-disabled="!venda.CODCLI">
        Gera Nota
      </md-button>
      <md-button aria-label="Go Back" class="md-raised md-warn" ng-click="enviaNfe(nota)" ng-disabled="!nota.getFinalidade()">
        Envia Nota
      </md-button>
      <md-button class="md-fab md-mini md-hue-3" aria-label="Favorite">
      <md-icon class="material-icons" style="color: white;" ng-click="cancel($event)">close</md-icon>
      </md-button>
    </div>
  </div>
  <!-- </md-toolbar> -->
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Vendas">
            <md-content>
              <div>
                <form name="cabecalhoForm">

                  <fieldset>
                    <legend>Destinatário</legend>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="5">
                        <label>Código</label>
                        <input name="codcli" ng-value="venda.CODCLI">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Razão Social</label>
                        <input name="nome" ng-model="venda.RAZAO" type="text">
                      </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="15">
                        <label>CNPJ / CPF</label>
                        <input name="cgc" type="text" ng-model="venda.CGC" ui-br-cpfcnpj-mask></input>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="15">
                        <label>I. E.</label>
                        <input name="inscest" type="text" ng-model="venda.INSC" ui-br-ie-mask>
                      </md-input-container>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>e-mail</label>
                        <input name="inscest" type="email" ng-model="venda.EMAIL">
                      </md-input-container>
                    </div>
                  </fieldset>
                  <md-table-container style="overflow: auto;" ng-style="{'height':'200px'}">
                    <table md-table>
                      <thead fix-head md-head>
                        <tr md-row>
                          <th md-column>
                            <span>Codigo</span>
                          </th>
                          <th md-column>
                            <span>Descricao</span>
                          </th>
                          <th md-column>
                            <span>Qtd</span>
                          </th>
                          <th md-column>
                            <span>V. Unit</span>
                          </th>
                          <th md-column>
                            <span>V. Unit</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody md-body>
                        <tr md-row ng-repeat="item in venda.PRODUTOS" ng-style="{'height':'23px'}">
                          <td md-cell>{{item.CODPRO}}</td>
                          <td md-cell>{{item.DESCRICAO}}</td>
                          <td md-cell>{{item.QTD}} {{item.UNIDADE}}</td>
                          <td md-cell>{{item.VALOR}}</td>
                          <td md-cell>{{item.TOTAL}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </md-table-container>
                </form>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Dados Gerais">
            <md-content>
              <div>
                <form name="cabecalhoForm">
                  <fieldset>
                    <legend>Dados Gerais</legend>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="15">
                        <label>Nota Fiscal</label>
                        <input disabled name="Nota" ng-model="nota.Cabecalho.NOTA">
                      </md-input-container>
                      <md-input-container>
                        <label>Data</label>
                        <md-datepicker name="data" md-hide-icons="calendar" ng-model="nota.getDataDaEmissao()"></md-datepicker>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="20">
                        <!-- <md-icon class="material-icons" style="color: rgb(44, 155, 58);">search</md-icon> -->
                        <label>Nat. Operação</label>
                        <input name="natoper" ng-model="nota.getNaturezaDaOperacao()" type="text">
                      </md-input-container>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Destinatário</legend>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="5">
                        <label>Código</label>
                        <input name="codcli" ng-value="nota.getDestinatario().getCodigo()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <!-- <md-icon class="material-icons" style="color: rgb(44, 155, 58);">search</md-icon> -->
                        <label>Razão Social</label>
                        <input name="nome" ng-model="nota.getDestinatario().getNome()" type="text">
                      </md-input-container>
                      <md-input-container flex-gt-xs="15">
                        <label>Telefone</label>
                        <input name="fone" ng-model="nota.getDestinatario().getTelefone()" type="text" ui-br-phone-number>
                      </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="15">
                        <label>CNPJ / CPF</label>
                        <input name="cgc" type="text" ng-model="nota.getDestinatario().getRegistroNacional()" ui-br-cpfcnpj-mask></input>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="15">
                        <label>I. E.</label>
                        <input name="inscest" type="text" ng-model="nota.getDestinatario().getInscricaoEstadual()" ui-br-ie-mask>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="10">
                        <label>Contribuinte</label>
                        <md-select ng-model="nota.Cabecalho.INDIEDEST">
                          <md-option value="C">Contribuinte</md-option>
                          <md-option value="I">Isento</md-option>
                          <md-option value="N">Não Contrib.</md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>e-mail</label>
                        <input name="inscest" type="email" ng-model="nota.getDestinatario().getEmail()">
                      </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="10">
                        <label>CEP</label>
                        <input md-no-asterisk name="cep" ng-model="nota.getDestinatario().getEndereco().getCep()" ui-br-cep-mask>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Endereço</label>
                        <input name="endereco" ng-model="nota.getDestinatario().getEndereco().getLogradouro()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="5">
                        <label>Número</label>
                        <input name="numero" ng-model="nota.getDestinatario().getEndereco().getNumero()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="25">
                        <label>Bairro</label>
                        <input name="bairro" ng-model="nota.getDestinatario().getEndereco().getBairro()">
                      </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Complemento</label>
                        <input name="complemento" ng-model="nota.getDestinatario().getEndereco().getComplemento()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="20">
                        <label>Cidade</label>
                        <input name="cidade" ng-model="nota.getDestinatario().getEndereco().getMunicipio()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs="8">
                        <label>Estado</label>
                        <input name="estado" ng-model="nota.getDestinatario().getEndereco().getUf()">
                      </md-input-container>
                    </div>
                  </fieldset>
                </form>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="PRODUTOS">
            <md-content class="">
              <md-table-container style="overflow: auto;" ng-style="{'height':'350px'}">
                <table md-table>
                  <thead fix-head md-head>
                    <tr md-row>
                      <th md-column>
                        <span>Codigo</span>
                      </th>
                      <th md-column>
                        <span>Descricao</span>
                      </th>
                      <th md-column>
                        <span>Ncm/Sh</span>
                      </th>
                      <th md-column>
                        <span>CST/CSOSN</span>
                      </th>
                      <th md-column>
                        <span>CFOP</span>
                      </th>
                      <th md-column>
                        <span>Qtd</span>
                      </th>
                      <th md-column>
                        <span>Un</span>
                      </th>
                      <th md-column>
                        <span>V. Unit</span>
                      </th>
                      <th md-column>
                        <span>V. Unit</span>
                      </th>
                      <th md-column>
                        <span>V ICMS</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="item in nota.getItens()" ng-style="{'height':'23px'}">
                      <td md-cell>{{item.getCodigo()}}</td>
                      <td md-cell>{{item.getDescricao()}}</td>
                      <td md-cell>{{item.getNcmSh()}}</td>
                      <td md-cell>{{item.getIcms().getSituacaoTributaria()}}</td>
                      <td md-cell>{{item.getIcms().getCfop()}}</td>
                      <td md-cell>{{item.getQuantidade()}}</td>
                      <td md-cell>{{item.getUnidade()}}</td>
                      <td md-cell>{{item.getValorUnitario() | currency}}</td>
                      <td md-cell>{{item.getValorTotal() | currency}}</td>
                      <td md-cell>{{item.getIcms().getValorDoIcms()}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            </md-content>
          </md-tab>
          <md-tab label="PAGAMENTOS">
            <md-content class="md-padding">
              <md-table-container style="overflow: auto;" ng-style="{'height':'200px'}">
                <table md-table>
                  <thead fix-head md-head>
                    <tr md-row>
                      <th md-column>
                        <span>Forma Pagto</span>
                      </th>
                      <th md-column>
                        <span>Meio Pagto</span>
                      </th>
                      <th md-column>
                        Vencimento
                      </th>
                      <th md-column>
                        <span>Valor</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="item in nota._pagamentos" ng-style="{'height':'23px'}">
                      <td md-cell>{{item.getFormaDePagamento()}}</td>
                      <td md-cell>{{item.getMeioDePagamento()}} {{item.getBandeiraDoCartao()}}</td>
                      <td md-cell>{{item.getVencimento() | date:'dd/MM/yyyy'}}</td>
                      <td md-cell>{{item.getValor() | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            </md-content>
          </md-tab>
          >
          <md-tab label="Transporte / Outros">
            <md-content>
              <div>
                <form name="cabecalhoForm">
                  <fieldset>
                    <legend>Transporte</legend>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Tipo</label>
                        <input disabled name="" ng-model="nota.getModalidadeDoFreteFormatada()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Transpostador</label>
                        <input disabled name="" ng-model="nota.getTransportador().getNome()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Valor</label>
                        <input disabled name="" ui-money-mask="R$" ng-model="nota.getValorDoFrete()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Volumes</label>
                        <input disabled name="volumes" ng-model="nota.getVolumes().getQuantidade()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Espécie</label>
                        <input disabled name="especie" ng-model="nota.getVolumes().getEspecie()">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Peso Bruto</label>
                        <input disabled name="pesob" ng-model="nota.getVolumes().getPesoBruto()">
                      </md-input-container>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>NFe Referência</legend>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Numero</label>
                        <input name="especie" ng-model="dadosRef.numNota">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <label>Chave</label>
                        <input name="Num" ng-model="dadosRef.chNota">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                        <md-button aria-label="Adicionar" class="md-warn md-raised " ng-click="nota.comNfRef(dadosRef);dadosRef=[];console.log(nota)">
                          Adicionar
                        </md-button>
                      </md-input-container>                      
                    </div>
                    <div layout-gt-xs="row">
                      <md-input-container md-detect-hidden="true" flex-gt-xs>
                        <label>Notas Referência</label>
                        <textarea ng-model="x.refNFe" rows="1" ng-repeat=nota._NfRef></textarea>
                      </md-input-container>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Informações Adicionais</legend>
                    <div layout-gt-xs="row">
                      <md-input-container md-detect-hidden="true" flex-gt-xs>
                        <label>Informações</label>
                        <textarea ng-model="nota._informacoesComplementares" rows="4"></textarea>
                        <!-- <input name="codcli" ng-value=""> -->
                      </md-input-container>
                    </div>
                  </fieldset>


                </form>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end">
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>